@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background;
  color: #1f2328;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --color-background: 0 0% 100%;
  --color-foreground: 222.2 47.4% 11.2%;

  --color-muted: 210 40% 96.1%;
  --color-muted-foreground: 215.4 16.3% 46.9%;
}
